@charset "utf-8";
/* CSS Document */

body {
	background: #500000;
	margin: 0;
	border-top: 5px  solid #424242;
	font-family: "Arial", sans-serif;
	line-height: 1.4em;
}

h1 {
	font-family: "Times New Roman" sans-serif;
	background: #500000;
	padding: 20px 15px;
	font-size: 24pt;
	color: #C0C0C0;
}

.content {
	background: #C0C0C0;
	width: 800px;
	margin: 0 auto;
}

#recipes {
	padding: 15px;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	text-align: center;
}

h3 {
	margin-bottom: 5px;
}

table {
	width: 600px;
	border: 1px solid #C0C0C0;
	border-collapse: : collapse;
	margin: 5px auto;
}

table td {
	padding: 5px;
}

p {
	padding: 5px;
}

img {
	padding: 20px;
}